4) Dado o valor de faturamento mensal de uma distribuidora, detalhado por estado:
• SP – R$67.836,43
• RJ – R$36.678,66
• MG – R$29.229,88
• ES – R$27.165,48
• Outros – R$19.849,53

Escreva um programa na linguagem que desejar onde calcule o percentual de representação que cada estado teve dentro do valor total mensal da distribuidora.

In [12]:
import pandas as pd

dados = {
    'estado': ['SP', 'RJ', 'MG', "ES", "Outros"],
    'valor': [67836.43, 36678.66, 29229.88, 27165.48, 19849.53]
}

df = pd.DataFrame(dados)

total = df['valor'].sum()
df['percentual'] = (df['valor']/total)*100
df

   estado     valor  percentual
0      SP  67836.43   37.528456
1      RJ  36678.66   20.291361
2      MG  29229.88   16.170548
3      ES  27165.48   15.028481
4  Outros  19849.53   10.981153